body {
    background-color: rgb(255, 236, 230);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 25px;
    width: 450px;
    height: 450px;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

